body{
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $Very-dark-blue;
}

.dashboard{
    display: grid;
    grid-template-columns: repeat(1, 327px);
    gap: 24px;
    margin: 81px 0;
}

.profil{

    .profil-top-part{
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: $Blue;
        padding: 35px;
        border-radius: 15px;
        z-index: 2;
        color: #ffffff;

        img{
            width: 64px;
            border: 3px solid #ffffff;
            border-radius: 555px;
        }

        .profil-name{
            display: flex;
            flex-direction: column;

            p{
                font-size: 15px;
                font-weight: 400;
                line-height: 18px;
                color: $Pale-Blue;
            }

            .name{
                font-size: 24px;
                font-weight: 300;
                line-height: 28px;
            }
        }
    }

    .profil-bottom-part{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $Dark-blue;
        border-radius: 0 0 15px 15px;
        padding: 45px 32px 25px 32px;
        margin-top: -20px;

        .timeframe{

            background-color: transparent;
            border: none;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            color: $Desaturated-blue;
            

            &:active{
                color: #ffffff;
            }

        }

    }

}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: #ffffff;

    .work{
        background-color: $Light-red-work;
    }
    .play{
        background-color: $Soft-blue-play;
    }
    .study{
        background-color: $Light-red-study;
    }
    .exercise{
        background-color: $Lime-green-exercise;

        img{
            top: -2px !important;
        }
    }
    .social{
        background-color: $Violet-social;
    }
    .selfCare{
        background-color: $Soft-orange-self-care;
    }

}

.card-top{
    position: relative;
    height: 78px;
    overflow: hidden;
    z-index: 1;
    border-radius: 15px 15px 0 0;

    img{
        position: absolute;
        right: 18px;
        top: -11px;
    }
}

.card-main{
    padding: 24px 28px;
    z-index: 2;
    background-color: $Dark-blue;
    border-radius: 15px;
    margin-top: -40px;

    .card-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;

        h2{
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
        }

        svg{
            fill: $Pale-Blue;
        }
    }

    .card-times{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-current{
            font-size: 32px;
            font-weight: 300;
            line-height: 38px;

        }
        .card-previous{
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            color: $Pale-Blue;

        }
    }
}


@media screen and (min-width : 768px) {

    .dashboard{
        grid-template-columns: repeat(2, 327px);
    }
    
    .profil{
        grid-column: 1 / span 2;

        .profil-top-part{
            justify-content: center;
            }

        .profil-bottom-part{
            justify-content: center;
            gap: 30px;
    
        }
    }
    
}

@media screen and (min-width : 1440px) {
    .dashboard{
        grid-template-columns: repeat(4, 255px);
    }

    .profil{
        grid-column: auto;
        grid-row: 1 / span 2;

        .profil-top-part{
            flex-direction: column;
            align-items: flex-start;
            gap: 43px;

            img{
                width: 78px;
            }
    
            .profil-name{
                display: flex;
                flex-direction: column;
    
                .name{
                    font-size: 40px;
                    line-height: 47px;
                    margin-bottom: 50px;
                    
                }
            }
        }
    
        .profil-bottom-part{
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 21px;

            .timeframe:hover{
                cursor: pointer;
                color: #ffffff !important;
            }
    
        }
    }

    .card-top{
        position: relative;
        height: 88px;
        overflow: hidden;
        z-index: 1;
        border-radius: 15px 15px 0 0;
    
        img{
            position: absolute;
            right: 18px;
            top: -11px;
        }
    }
    
    .card-main{
        padding: 30px;
        margin-top: -40px;
        transition: transform 0.2s ease;

        &:hover{
            cursor: pointer;
            background-color: #33397A;
            transform: translateY(-5px);
            transform: scale(1.02);
        }
    
        .card-title{
            margin-bottom: 24px;

            svg:hover{
                cursor: pointer;
                fill: #ffffff;
                
            }

        }
    
        .card-times{
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
    
            .card-current{
                font-size: 56px;
                line-height: 66px;
                
            }
        }
    }
}